<% include ../partials/boilerplate %>

<div class="stock-container"

<% stocks.forEach(stock => { %>
<div class="stock">
  <h3>id: <%=stock.id  %></h3>
  <h3>Company Name: <%=stock.companyName %></h3>
  <h3>Primary Exchange: <%=stock.primaryExchange  %></h3>
  <h3>Sector: <%=stock.sector  %></h3>
  <h3>Open: <%=stock.open  %></h3>
  <h3>Open Time: <%=stock.openTime  %></h3>
  <h3>Close: <%=stock.close  %></h3>
  <h3>Close Time: <%=stock.closeTime  %></h3>
  <h3>Latest Price: <%=stock.latestPrice  %></h3>
</div>
</div>
<% }) %>

<% include ../partials/end %>
