<% include ../partials/boilerplate %>

<form method="POST" action="/stocks?_method=PUT">
  <input type="text" name="symbol" placeholder="<%= data.stock.symbol%>" />
  <input type="text" name="companyName" placeholder="<%= data.stock.symbol%>"  />
  <input type="text" name="primaryExchange" placeholder="<%= data.stock.symbol%>"  />
  <input type="text" name="sector" placeholder="<%= data.stock.symbol%>"  />
  <input type="number" name="open" placeholder="<%= data.stock.symbol%>" />
  <input type="number" name="openTime" placeholder="<%= data.stock.symbol%>" />
  <input type="number" name="close" placeholder="<%= data.stock.symbol%>" />
  <input type="number" name="closeTime" placeholder="<%= data.stock.symbol%>" />
  <input type="number" name="latestPrice" placeholder="<%= data.stock.symbol%>" />
  <input type="submit" value="Add it!" />
</form>
<% include ../partials/end %>
